@import './base.css';

#app {
  margin: 0px;
}

a,
.green {
  text-decoration: none;
  color: rgb(105, 22, 214);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(239, 81%, 44%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    margin: 0px;
  }

  #app {
    margin: 0px;
  }
}
